@font-face {
    font-family: 'PRViking';
    src: url(./fonts/PR\ Viking.ttf);
}

@font-face {
    font-family: 'norse';
    src: url(./fonts/Norse.otf);
}

* {
    background-color: transparent;
}

html{
    background-image: linear-gradient(#353535,#000000);
}

body {
    background-image: url(./pics/tree.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
}

img {
    width: 30%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 100px;
}

h1, h2, p, .list {
    background-color: transparent;
    text-align: center;
    color: rgb(195, 194, 194);
}

p {
    font-size: medium;
    font-family: 'norse';
}

h1 {
    font-weight: 300;
    font-family: 'PRViking';
    margin-bottom: 20px;
}

h2 {
    font-weight: 300;
    margin-top: 80px;
    font-family: 'PRViking';
}

ol,
ul {
margin-top: 0;
padding-top: 0;
font-family: 'norse';
background-color: transparent;
}

.zubereitung,
.zutaten {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    background-color: transparent;
}

.linktree {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.space {
height: 100px;
background-color: transparent;
}

a {
  font-family: 'PRViking';
  background-color: rgb(195, 194, 194);
  color: black;
  border: 2px solid transparent;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin: 10px;
}

li {
    background-color: transparent;
}

a:hover {
    color: red;
}

#feast {
    margin-top: 0%;
    margin-bottom: 40px;
    background-color: transparent;
}

div {
    background-color: transparent;
}

#feast:hover {
    fill: red;
}